body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #9ca6dc;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .choice{
    width: 30%;
    height: auto;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #managers,
  #administrators,
  #accountants
{
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #managers:hover,
  #adminstrators:hover,
  #accountants:hover{
    background-color: #45a049;
  }
  
  